.flaticon-bill:before {
	content: "\e001";
}
.flaticon-target:before {
	content: "\e002";
}
.flaticon-budget:before {
	content: "\e003";
}
.flaticon-home:before {
	content: "\e004";
}
.flaticon-contract:before {
	content: "\e005";
}
.flaticon-approval:before {
	content: "\e006";
}
.flaticon-question:before {
	content: "\e007";
}
.flaticon-notification:before {
	content: "\e008";
}
